.modal-timesheet-violation {
  .modal-content {
    width: 500px;
    overflow: unset !important;
  }
}

.modal-timesheet-create-explanation {
  .modal-content {
    width: 1260px;
    // transform: translate(-32%);
  }
}
