.schedule-list {

    &__btn {
        display: block;
        width: 100%;
        height: 100%;
        outline: none;
        background: #3174ad;
        color: #FFFFFF;
        border: none;
        border-radius: 6px;
        padding: 6px 0;
    }

}