.production-card {
  &__body {
    border-radius: 6px;
    background-color: #ffffff;
  }

  &__btns {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 7px 16px;
    border-bottom: 1px solid #e4e7ec;

    overflow: hidden;
    overflow-x: auto;

    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &__btn {
    text-decoration: none;
    display: inline-block;
    width: 144px;
    height: 26px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0 0 0 1px #98a2b3;
    border-radius: 6px;
    background-color: #ffffff;
    color: #667085;
    display: flex;
    align-items: center;
    gap: 8px;
    outline: none;
    border: none;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    a {
      text-decoration: none;
    }

    &--active {
      border: none;
      color: #ffffff;
      background-color: #4072d0;
    }

    cursor: not-allowed !important;

    &--allow {
      cursor: pointer !important;
    }
  }

  &__content {
    padding: 16px;
  }

  &__footer {
    padding: 16px;

    display: flex;
    gap: 16px;
    justify-content: flex-end;
  }
}
