@import '../../bootstrap-variables';

.table-responsive:has(table.table-v2) {
  border-radius: 8px;
}

.table-responsive:has(table.table-v2[data-border='true']) {
  border: 1px solid #d0d5dd;
}

table.table-v2 {
  min-width: 100%;
  overflow-x: auto;
  table-layout: auto;
  // height: 100%;

  position: relative;
  z-index: 10;

  //styleName: Text xs/Medium;
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 1px #d0d5dd;

  &.table {
    margin-bottom: 0;
  }

  * {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  &[data-sticky-last-row='true'] {
    tbody {
      tr:last-child {
        position: sticky;
        bottom: 0;

        td {
          background-color: #fff;
        }
      }
    }
  }

  &[data-fixed-layout='true'] {
    table-layout: fixed;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 999;

    th {
      background-color: #4072d0 !important;
      padding: 11px 20px;
      color: #ffffff;
      white-space: nowrap;
      min-width: fit-content;
      flex-shrink: 0;

      // position: sticky;
      // top: 0;
      z-index: 1;

      border: 1px solid #d0d5dd;
    }
  }

  tbody {
    overflow-y: scroll;

    tr {
      &[data-row] {
        cursor: pointer;
      }

      &[data-row-sub] {
        display: none;

        &[data-open='true'] {
          display: table-row;
        }
      }

      td {
        padding-left: 20px;
        padding-right: 20px;

        border: 1px solid #d0d5dd;

        & > div {
          height: 100%;
          color: #475467 !important;
        }
      }
    }
  }

  .text-right {
    text-align: right;
  }

  .table-footer {
    border-top: 1px solid #d0d5dd;
  }
}

.text-center {
  justify-content: center;
}

.table-v2__pagination {
  border: 1px solid #d0d5dd;
  border-radius: 8px;

  .table-responsive,
  .table-responsive:has(table.table-v2) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #d0d5dd;
  }
}
