@import "../../bootstrap-variables";

.actions-dropdown {
  &-toggle {
    background-color: white;

    &:hover {
      background-color: white;
    }
  }

  .dropdown-item {
    &:hover {
      background-color: $secondary-black-90;
      color: unset;
    }

    button {
      font-weight: $font-body-400 !important;
      font-size: $text-body-16 !important;
    }
  }

  .update {
    color: #46a6ff;
  }

  .approve {
    color: $success-green-40;
  }

  .cancel {
    color: $red-error-40;
  }

  .delete {
    color: #f54635;
  }
}

.orders-filter-modals {
  .modal-content {
    width: 600px;
  }
}

.modals-detail-orders {
  .modal-content {
    width: 780px;
  }
}

.modals-export-uniform {
  .modal-content {
    width: 800px;
    min-height: 100%;
  }
}

.modals-propose-order {
  .modal-content {
    width: 744px;
  }
}

.modals-approve-sign {
  .modal-content {
    width: 483px;
  }
}

.modal-reject-order {
  .modal-content {
    width: 744px;
  }
}
