@import '../../bootstrap-variables';

.modals-detail-orders {
  .modal-content {
    width: 1024px;
  }
}

.modals-create-order {
  .modal-content {
    width: 1024px;
    min-height: 90vh;
  }
}

.modals-propose-order {
  .modal-content {
    overflow: unset !important;
  }
}
