@import '../../bootstrap-variables';

.modals-filter-contracts {
  .modal-content {
    width: 600px;
  }
}

.modal-contracts-detail {
  .modal-content {
    width: 700px;
  }
}

.modals-approve-contracts {
  .modal-content {
    width: 561px;
  }
}

.modals-liquid-sign {
  .modal-content {
    width: 438px;
  }
}

.modal-reject-liquid {
  .modal-content {
    width: 520px;
  }
}
