.modals-filter-reports-uniform-exports {
  .modal-content {
    width: 744px;
    max-height: unset !important;
    overflow: unset !important;
  }
}

.export-type {
  width: 160px;
  padding: 4px 16px !important;
}

.modals-detail-uniform-report {
  .modal-content {
    width: 900px;
  }
}
