@import '../../bootstrap-variables';

.authorities-users-update-modal {
  .modal-content {
    width: 1300px;
  }
}

.authorities-user-detail-modals {
  .modal-content {
    width: 1300px;
  }
}

.authorities-user-update-success {
  .modal-content {
    width: 500px;
  }
}

.authorities-btn {
  img {
    width: 20px;
    height: 20px;
  }
}
