@import '../../../bootstrap-variables';

:root {
  --calendar-day: #212121;
}

.form-group-v2 {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 12px !important;

  .form-label-v2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    margin-bottom: 0px !important;

    color: #344054;
  }

  .ant-picker {
    &-disabled {
      background: #d0d5dd !important;
      border: 1px solid #bfc1c5 !important;
      color: #475467 !important;
      .ant-picker-input {
        input {
          background: #d0d5dd !important;
          color: #475467 !important;

          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          text-align: left;
        }
      }
    }

    .ant-picker-input {
      input {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #475467 !important;
      }
    }
  }

  .date-picker {
    height: 100%;
    margin-bottom: 0 !important;

    &.invalid {
      .rmdp-input {
        border-color: $red-invalid !important;
      }
    }

    &-input {
      height: 40px;
      margin: 0;
      position: relative;
      min-width: 150px;

      .rmdp-container {
        height: 100% !important;
        width: 100%;
        position: absolute;
      }

      .rmdp-input {
        height: 100%;
        width: 100%;
        margin: 0;
      }

      img {
        position: absolute;
        top: 50%;
        right: $space-12;
        transform: translateY(-50%);
      }
    }

    & > input {
      opacity: 0;
    }
  }

  .input-mask {
    width: $rounded-full;
    transition:
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out;

    height: 40px;
    padding: 8px 14px !important;
    border-radius: 8px !important;
    border: 1px;

    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

    color: #101828;

    &:focus {
      box-shadow: 0 0 0 0.25rem rgba(44, 62, 80, 0.25);
      outline: 0;
    }

    &.invalid {
      border-color: $red-invalid !important;
    }
  }

  .form-error {
    img {
      position: unset !important;
      transform: unset !important;
    }
  }
}
