@import '../../_bootstrap-variables';

.modal-create-process {
  .modal-content {
    width: 744px;
    overflow: unset !important;
  }
}

.production-process-filter-modal {
  .modal-content {
    width: 660px;
    overflow: unset !important;
  }
}

.production-process-notices-update-modals {
  .modal-content {
    width: 500px;
  }
}
