@import '../../bootstrap-variables';

.preview-v2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 300px;
  max-width: 300px;
  border: none;

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: $space-16;

    &-item {
      padding: $space-2 $space-4;
      border-radius: $space-8;
      box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.05);
      transition: all 0.3s;

      img {
        width: $space-20;
        height: $space-20;
      }
    }
  }

  &-text {
    color: $text-black;

    p {
      font-size: $text-body-16;
      font-weight: $font-body-400;
      letter-spacing: -0.5px;
    }

    .title-file {
      cursor: pointer;
    }
  }
}
